params {
  blastProgram = "blastn"
  seqFile = "$baseDir/data/isosmall.fsa"
  preConfiguredDatabase = false
  databaseDir = "$launchDir/data/database"
  databaseBaseName = "newdb.fasta"
  databaseFasta = "$baseDir/data/genomicSeqs.fa"
  databaseType = "nucl"
  dataFile = "blastSimilarity.out"
  logFile = "blastSimilarity.log"
  outputDir = "$launchDir/output"
  printSimSeqs = false
  blastArgs = ""
  fastaSubsetSize = 1
  pValCutoff = 1e-5
  lengthCutoff = 1
  percentCutoff = 1
  outputType = "both"
  adjustMatchLength = false
}
docker {
    enabled = true
}
